/* app css stylesheet */

body {
  background-image: url("img/man.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.header {
  background-color: #333333;
  color: #ffffff;
  height: 50px;
}

.site-title {
  padding: 7px 0 0 15px;
  float: left;
  font-size: 25px;
}

.menu {
  list-style: none;
  padding: 0 20px 0 0;
  float: right;
}

.menu > li {
  display: inline;
}

